.Nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  background: rgba(0, 119, 255, 0.1);
}

.Logo {
  width: 30px;
}
.Logo svg path {
  fill: var(--main-color1);
}

.BtnProfile {
  display: flex;
  align-items: center;
  color: var(--font-color1);
  text-decoration: none;
  font-weight: 700;
}
.BtnProfile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
